/*


#header_meta{
background-color: #114b84;
}
.avia-button{
background-color: #1ccfdf !important;
border: none !important;
border-radius:4px !important;
}

#av_section_5{
border-top:50px solid #1ccfdf;
}

.logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.colored-link{
color: #1ccfdf;
}

.cursor{
cursor:pointer;
}



#av_section_4 .flex_column:nth-child(2)::after {
  background-color: rgb(246,244,245);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewX(-20deg);
  transform-origin: left top 0;
  visibility: visible !important;
  width: 100%;
  z-index: -1;
}

.avia_textblock > p {
  margin: 0;
  padding: 0;
}

#av_section_4 .flex_column {
  margin: 0;
  padding: 0;
}

#av_section_4 .flex_column:nth-child(2) {
  background-color: rgb(246,244,245);
  padding: 20px;
  position: relative;
  width: 50%;
}

#av_section_4 .template-page {
  padding: 0;
}

#av_section_4 .flex_column:nth-child(1) {
  width: 50%;
}

#av_section_4 iframe{
height: 500px !important;
}
@media only screen and (min-width: 1025px) and (max-width: 10000px) {
.subs-container{
overflow:hidden;
}
}

.avia-menu{
border:none;
}

#menu-item-search{
display:none;
}

.avia-menu-text {
  margin: 0 !important;
  padding: 10px !important;
}

.avia-menu-text:hover {
  background-color: #1ccfdf;
  color: #fff !important;
}

.av-share-link > a {
  font-size: 30px !important;
}

.av-share-box-list.noLightbox {
  margin-top: 25px;
  width: 50% !important;
}

.av-share-link {
  border-color: rgb(16, 74, 132) !important;
}

#av_section_4 .flex_column:nth-child(2) fieldset p input[type="text"], #av_section_4 .flex_column:nth-child(2) fieldset p textarea {
  border: 1px solid rgb(27, 207, 222);
  border-radius: 1px;
}

#av_section_4 .flex_column:nth-child(2) fieldset p .button {
  background-color: rgb(27, 207, 222);
  border: medium none;
  border-radius: 10px;
}
#av_section_1 h1 {
  font-weight: bold;
}

#avia-menu li a {
  margin: 0 !important;
  padding: 5px !important;
}

#av_section_4 form {
  margin: 0 auto;
  max-width: 500px;
}

.avia-slideshow-inner li .av-section-color-overlay{
background: rgb(41,126,216); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(41,126,216,1) 44%, rgba(27,207,222,1) 62%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(41,126,216,1) 44%,rgba(27,207,222,1) 62%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(41,126,216,1) 44%,rgba(27,207,222,1) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#av_section_4 .flex_column{
height:550px;
}

#av_section_4 .flex_column:first-child section, #av_section_4 .flex_column:first-child section div, #av_section_4 .flex_column:first-child section div p, #av_section_4 .flex_column:first-child section div p iframe {
  height: 100% !important;
  position: absolute;
  width: 100%;
}

.subs-container{
height:550px;
}

.page-id-245 #av_section_1 .av-section-color-overlay{
background:rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(41, 126, 216) 44%, rgb(27, 207, 222) 62%) repeat scroll 0 0;
}

#top #header .av-main-nav > li > a{
  background-color: #fff !important
  border-color:#fff !important;
}*/